html, body {
  height: 100%;
}

body { 
  background: black;

  // Cover background
  background: url(../images/FFWD-Background.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;

  font-family: "LatoLatinWebLight";
  font-style: italic;

  text-align: center;
}

a {
  color: white;
  text-decoration: underline;
  &:hover {
      color: white;
      text-decoration: underline;
      font-weight: bold;
  }
  &:active, &:focus, &:visited {
      color: white;
    }
}

.fullheight {
  height: 100%;
  height: 100vh;
  position: relative;
}

.vertical-center {
    position: absolute;
    top: 45%;
    transform: translateY(-50%);
}

.logo {
  margin:0 auto;
}

p {
  font-size: 1.5rem;
  color: white;
}

.intro {
  margin-top: 2.5rem;
  margin-bottom: 2rem;
}

.footnote {
  font-size: 0.9rem;
}