// Glyphicons font path
$icon-font-path:        "../fonts/";

// Grid settings
$main-sm-columns:       12;
$sidebar-sm-columns:    4;

// Colors
$brand-primary:         #27ae60;

/* Webfont: LatoLatin-LightItalic */
@font-face {
    font-family: 'LatoLatinWebLight';
    src: url('../fonts/LatoLatin-LightItalic.eot'); /* IE9 Compat Modes */
    src: url('../fonts/LatoLatin-LightItalic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('../fonts/LatoLatin-LightItalic.woff2') format('woff2'), /* Modern Browsers */
         url('../fonts/LatoLatin-LightItalic.woff') format('woff'), /* Modern Browsers */
         url('../fonts/LatoLatin-LightItalic.ttf') format('truetype');
    font-style: italic;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}